body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#formTitle {
    color:aqua;
    text-shadow: 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

h3 {
    color:green;
    display:flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lime;
    border-radius: 3px;
}
    


form {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    padding: 100px;
    border: 2px solid;
    border-radius: 5px;
    border-color: black;

}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input {
    border-color: black;
    border-radius: 5px;
    background-color: aqua;
}



button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}

 #mainPage {
    display:none;
}

#greeting {
    color:aqua;
    text-shadow: 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#rollButton {
    cursor:pointer;
}

#totalScore {
    color:lime;
}

#totalRounds {
    color:orange;
}

#currentScore {
    color: white;
}

#rollButton {
    background-color: green;
}

#freezeRoundButton {
    background-color: red;
}